@mixin grid($col, $row, $areas, $content, $gap){
    display: grid;
    grid-template-columns: $col;
    grid-template-rows: $row;
    grid-template-areas: $areas;
    justify-content: $content;
    gap: $gap;
}