@media (max-width:1178px){
    .form{
        padding: 10px 30px;
    
    }
    input{
        width: 70%;
        margin-bottom: 20px;
    }
    .nombre{
        font-size: 20px;
    }
    .boton{
        padding: 5px;
        
    }
    .fondo{
        height: 70vw;
    }
    }