@media (max-width:425px){
    .galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img12";
    }
   .section-principal h3{
    font-size: 20px;
    padding: 10px;
   }
   .navbar-barra{
    flex-direction: column;
    align-items: center;
}
}