@media (max-width:635px){

    .form{
           padding: 10px 30px;
       }
       input{
           width: 40%;
           margin-bottom: 10px;
           font-size: 16px;
           padding: 5px;
       }
       .nombre{
           font-size: 20px;
       }
       .boton{
           padding: 5px;
           
       }
       .fondo{
           height: 120vw;
       }
   }